SENDER_ADDRESS=your_sender_address_for_default_key_here
ACCOUNT_NAME=defaultKey

RPC_URL_ETHEREUM=https://eth-mainnet.g.alchemy.com/v2/your_alchemy_api_key_here
RPC_URL_ETHEREUM_SEPOLIA=https://eth-sepolia.g.alchemy.com/v2/your_alchemy_api_key_here

RPC_URL_POLYGON=https://polygon-mainnet.g.alchemy.com/v2/your_alchemy_api_key_here

ETHERSCAN_API_KEY=your_etherscan_api_key_here
POLYGONSCAN_API_KEY=your_etherscan_api_key_here
